* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    display: grid;
    grid-template-columns: repeat(5 1fr);
    grid-template-areas: 
    'topnav topnav topnav topnav topnav'
    'sidenav heading heading heading heading'
    'sidenav content1 content1 content2 content2'
    'sidenav content3 content3 content4 content4';
    gap: 1rem;
    font-weight: 700;
}
nav {
    grid-area: topnav;
    background: #D9D9D9;
    display: flex;
    height: 182px;
    font-size: 24px;
}
.logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    list-style: none;
}
nav ul li {
    margin: 0 3rem;
}
nav ul li a {
    color: #000;
    text-decoration: none;
}
nav ul li a:hover {
    color: #00009f;
    transition: .5s
}
.sidenav {
    grid-area: sidenav;
    background: #E4B6B6;
    display: flex;
    height: 829px;
    justify-content: center;
    align-items: center;
    font-size: 64px;
}
.heading {
    grid-area: heading;
    background: #8D99DC;
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    font-size: 58px;
}
#content1 {
    grid-area: content1;
    background: #D5E4B6;
    display: flex;
    height: 367px;
    justify-content: center;
    align-items: center;
    font-size: 64px;
}
#content2 {
    grid-area: content2;
    background: #E4CCB6;
    display: flex;
    height: 367px;
    justify-content: center;
    align-items: center;
    font-size: 64px;
}
#content3 {
    grid-area: content3;
    background: #B6E4D0;
    display: flex;
    height: 391px;
    justify-content: center;
    align-items: center;
    font-size: 64px;
}
#content4 {
    grid-area: content4;
    background: #F39238;
    display: flex;
    height: 391px;
    justify-content: center;
    align-items: center;
    font-size: 64px;
}

@media only screen and (max-width: 768px) {
    .page {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        'topnav topnav topnav topnav'
        'heading heading heading heading'
        'content1 content2 content2 content2'
        'content3 content3 content3 content4';
    }
    nav { grid-area: topnav;}
    .sidenav { grid-area: sidenav; display: none;}
    .heading { grid-area: heading;}
    #content1 { grid-area: content1; height: 418px;}
    #content2 { grid-area: content2; height: 418px;}
    #content3 { grid-area: content3; height: 446px;}
    #content4 { grid-area: content4; height: 446px;}
}

@media only screen and (max-width: 430px) {
    .page {
        grid-template-columns: 1fr;
        grid-template-areas: 
        'topnav'
        'content2'
        'content4';
    }
    nav { grid-area: topnav;}
    .sidenav { grid-area: sidenav; display: none;}
    .heading { grid-area: heading; display: none;}
    #content1 { grid-area: content1; display: none;}
    #content2 { grid-area: content2; height: 418px;}
    #content3 { grid-area: content3; display: none;} 
    #content4 { grid-area: content4; height: 214px;}
}
